body {
    margin: 0px;
    padding: 0px;
    max-width: 80em !important;
    margin: 0 auto !important;
    border-radius: 0px !important;
}

.menubar {
    border: 0px !important;
    max-width: 78em !important;
    margin: 0 auto !important;
    border-radius: 0px !important;
}

.validationerror {
    background-color: #FFBABA;
    color: #D8000C;
    border: 1px solid;
    padding: 1px 5px 1px 5px;
    border-radius: 3px 3px 3px 3px;
    outline: 0 none;
}

.validationsuccess {
    background-color: #BAFFBA;
    color: #00B30A;
    border: 1px solid;
    padding: 1px 5px 1px 5px;
    border-radius: 3px 3px 3px 3px;
    outline: 0 none;
}

.ui-menu-child {
    width: 180px !important;
}
