@media all {

    /*
       background for div, which is behind the menubar => same background as menubar
    */
    #mainnav {
        background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
        border-bottom: 1px solid white;
    }

    /*
       default height is needed for menubar
       otherwise if no menuitem is displayed (e.g. after logout), menubar size will be 0
    */
    .ui-menubar {
        height: 32px;
    }
}